@import "modules/buttons";
@import "modules/contact";
@import "modules/education";
@import "modules/experience";
@import "modules/footer";
@import "modules/header";
@import "modules/list";
@import "modules/skills";
@import "modules/standalone";
@import "modules/workshops";

#portfolio {
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: 1fr;
  grid-template-areas:
   "photo desc desc desc"
    "experience experience experience contact"
    "experience experience experience education"
    "skills skills workshops workshops"
    "footer footer footer footer";
  grid-gap: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 1200px;
  margin: 25px auto;
  padding: 20px;
  overflow: hidden;
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  //*, *:before, *:after {
  //  box-sizing: border-box;
  //}
  h1, h2, h3, h4 {
    font-weight: inherit;
    padding: 0;
  }
  .i-desc {
    color: rgb(70, 185, 219);
    font-size: 1.5em;
    font-weight: 700;
  }
  .i-font {
    [class*="fa-"]	{
      color: rgb(70, 185, 219);
    }
  }

}
#portfolio {
  @import "modules/media";
}




