.topScrollButton {
  background: #83CD29;
  bottom: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 35px;
  position: fixed;
  right: 0;
  width: 35px;
  z-index: 9;
  border-radius: 3px;
  transition: opacity .3s ease;
  &:hover {
    opacity: .8;
  }
  &:after {
    content: '\203A';
    color: #fff;
    display: inline-block;
    font-size: 35px;
    line-height: 1;
    margin-left: 11px;
    transform: rotate(-90deg);
  }
}
