.skills {
  grid-area: skills;
  grid-column: 1/4;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    margin: 20px auto;
    img {
      height: 64px;
      margin: 0 auto;
      width: 64px;
      @include transition(all .4s ease);
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__skill {
    margin: 10px 0;
  }
}