.workshops {
  grid-area: workshops;
  grid-column: 4;
  .workshops-certificates {
    text-align: left;
    &__box {
      .fa-external-link-alt {
        color: #02AC46;
        display: inline-block;
        vertical-align: middle;
        visibility: visible;
      }
    }
    &__a {
      display: inline-block;
      font-weight: 400;
      margin-right: 20px;
      padding: 10px 0;
      vertical-align: middle;
      transition: all .4s;
      &:hover {
        font-weight: 700;
      }
    }
  }
} 