.topScrollButton {
  background: #83CD29;
  bottom: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 35px;
  position: fixed;
  right: 0;
  width: 35px;
  z-index: 9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.topScrollButton:hover {
  opacity: .8;
}
.topScrollButton:after {
  content: '\203A';
  color: #fff;
  display: inline-block;
  font-size: 35px;
  line-height: 1;
  margin-left: 11px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.contact {
  grid-area: contact;
}
.contact .fa-phone {
  transform: rotate(90deg);
}
.contact [class*='fa'] {
  display: block;
  margin: 0 auto;
}

.education {
  grid-area: education;
}
.education__school {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.education__desc {
  font-size: 15px;
  line-height: 1.4;
}
.education__year {
  color: #414141;
  margin-top: 20px;
}
.education__faculty {
  font-size: 17px;
}

.experience {
  background-color: #496475;
  grid-area: experience;
  grid-column: 1 / 4;
  overflow: hidden;
  padding: 25px;
  position: relative;
}
.experience:before {
  background-color: #414141;
  content: "";
  height: 89%;
  left: 35px;
  overflow: hidden;
  position: absolute;
  top: 9%;
  width: 2px;
  z-index: 3;
}
.experience__desc {
  background-color: #546c7c;
  margin: 25px 0 15px 45px;
  padding: 20px;
  position: relative;
}
.experience__desc:before {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #414141;
  background-color: #46b9db;
  content: "";
  height: 15px;
  left: -42px;
  top: 50%;
  position: absolute;
  width: 15px;
  z-index: 5;
}
.experience__name {
  color: #fff;
  font-size: 1.2em;
  text-decoration: uppercase;
}
.experience .company__heading {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
.experience .company__heading .lg-span {
  color: #77787A;
  text-align: center;
}
.experience .company__position {
  color: #fff;
  font-size: 1.2em;
  margin: 5px 0;
  text-align: center;
}
.experience .company__duration {
  color: #ebebeb;
  font-size: .9em;
  margin-bottom: 10px;
  text-align: center;
}

.footer {
  grid-area: footer;
}
.footer .svg-inline--fa {
  font-size: 18px;
}
.footer .fa-linkedin {
  color: #0077B5;
}
.footer .fa-facebook {
  color: #4267B2;
}
.footer .fa-github {
  color: #24292E;
}

.header-photo {
  border: 10px solid #fff;
  grid-area: photo;
  grid-column: 1/2;
}
.header-photo img {
  max-width: 100%;
}

.desc {
  background-color: #496475;
  grid-area: desc;
  padding: 30px;
  text-align: left;
}
.desc__title {
  color: #fff;
  font-size: 2.5em;
  margin: 0 0 15px 0;
}
.desc__subtitle {
  margin: 0 0 15px 0;
  color: #46b9db;
  font-size: 1.875em;
}
.desc__p {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.4;
  margin: 10px 0;
  text-indent: 60px;
}
.desc__span {
  text-indent: 60px;
}

.unordered-list {
  list-style-type: none;
}
.unordered-list__li {
  border-bottom: 1px dotted #414141;
  color: #000;
  font-size: 16px;
  line-height: 1.4;
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
}
.unordered-list__li [class*="fa-"] {
  font-size: 18px;
  margin: 5px auto;
}

.ordered-list {
  list-style-type: disc;
  color: #fff;
}
.ordered-list__li {
  color: #fafafa;
  text-align: left;
}

.skills {
  grid-area: skills;
  grid-column: 1/4;
}
.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;
  margin: 20px auto;
}
.skills__container img {
  height: 64px;
  margin: 0 auto;
  width: 64px;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.skills__container img:hover {
  transform: scale(1.2);
}
.skills__skill {
  margin: 10px 0;
}

.portfolio img[alt=""],
.portfolio img:not([alt]) {
  border: 5px solid #c00;
}
.portfolio .rem {
  font-size: 16px;
}
.portfolio .d__b {
  display: block;
}
.portfolio .d__ib {
  display: inline-block;
}
.portfolio .cf:after,
.portfolio .cf:before {
  content: "";
  display: table;
  clear: both;
}
.portfolio .f_r {
  float: right;
}
.portfolio .f_l {
  float: left;
}
.portfolio .tt_u {
  text-transform: uppercase;
}
.portfolio .color_neo {
  color: #E30613;
}
.portfolio .color_cert {
  color: #02AC46;
}
.portfolio .color_audio {
  color: #7E7E7E;
}
.portfolio .color_audio:after {
  background-color: #a6ce39;
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}
.portfolio .color_farutex {
  color: #0D124A;
}
.portfolio .color_lg {
  color: #C50653;
}
.portfolio td {
  padding-left: 15px;
  text-align: left;
}
.portfolio th {
  font-size: 1.2em;
  text-align: left;
}
.portfolio ul {
  padding: 0;
  margin: 0;
}
.portfolio a {
  text-decoration: none;
  color: inherit;
}
.portfolio .ta_l {
  text-align: left;
}
.portfolio .ta_r {
  text-align: right;
}
.portfolio .ta_c {
  text-align: center;
}
.portfolio .heading {
  color: #000;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}
.portfolio .heading-small {
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 15px;
}
.portfolio .small {
  font-size: .8em;
  font-style: italic;
  font-weight: 400;
}
.portfolio .w-20 {
  width: 20%;
}
.portfolio .w-1 {
  width: 8.33333%;
}
.portfolio .w-2 {
  width: 16.66667%;
}
.portfolio .w-3 {
  width: 25%;
}
.portfolio .w-4 {
  width: 33.33333%;
}
.portfolio .w-5 {
  width: 41.66667%;
}
.portfolio .w-6 {
  width: 50%;
}
.portfolio .w-7 {
  width: 58.33333%;
}
.portfolio .w-8 {
  width: 66.66667%;
}
.portfolio .w-9 {
  width: 75%;
}
.portfolio .w-10 {
  width: 83.33333%;
}
.portfolio .w-11 {
  width: 91.66667%;
}
.portfolio .w-12 {
  width: 100%;
}
.portfolio .font_100 {
  font-weight: 100;
}
.portfolio .font_200 {
  font-weight: 200;
}
.portfolio .font_300 {
  font-weight: 300;
}
.portfolio .font_400 {
  font-weight: 400;
}
.portfolio .font_500 {
  font-weight: 500;
}
.portfolio .font_600 {
  font-weight: 600;
}
.portfolio .font_700 {
  font-weight: 700;
}
.portfolio .font_800 {
  font-weight: 800;
}
.portfolio .font_900 {
  font-weight: 900;
}
.portfolio .grid-item {
  background-color: #fff;
  padding: 15px;
  text-align: center;
}
.portfolio .grid {
  background-color: #fff;
  color: #46b9db;
  font-weight: 700;
  padding: 25px;
  text-align: center;
}
.portfolio .grid__h1 {
  color: #46b9db;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 15px;
  text-transform: uppercase;
}
.portfolio .item-header {
  margin-bottom: 15px;
}

.workshops {
  grid-area: workshops;
  grid-column: 4;
}
.workshops .workshops-certificates {
  text-align: left;
}
.workshops .workshops-certificates__box .fa-external-link-alt {
  color: #02AC46;
  display: inline-block;
  vertical-align: middle;
}
.workshops .workshops-certificates__a {
  display: inline-block;
  margin-left: 15px;
  padding: 5px 0;
  vertical-align: middle;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.workshops .workshops-certificates__a:hover {
  text-shadow: 1px 1px #02AC46;
}

.portfolio {
  background-color: #e0e0e0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "photo desc desc desc"  "experience experience experience contact" "experience experience experience education" "skills skills workshops workshops" "footer footer footer footer";
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 25px auto;
  padding: 40px;
  overflow: hidden;
  width: 1200px;
}
.portfolio *, .portfolio *:before, .portfolio *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.portfolio h1, .portfolio h2, .portfolio h3, .portfolio h4 {
  font-weight: inherit;
  padding: 0;
}
.portfolio .i-desc {
  color: #46b9db;
  font-size: 1.5em;
  font-weight: 700;
}
.portfolio .i-font [class*="fa-"] {
  color: #46b9db;
}
@media (max-width: 1140px) {
  .portfolio {
    width: 980px;
  }
  .portfolio .rem {
    font-size: 16px;
  }
  .portfolio .desc {
    padding: 12px;
  }
}
@media (max-width: 980px) {
  .portfolio {
    width: 720px;
  }
  .portfolio .rem {
    font-size: 14px;
  }
  .portfolio .header-photo {
    grid-column: 1/3;
  }
  .portfolio .desc {
    grid-column: 3/5;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .portfolio {
    width: 480px;
  }
  .portfolio .rem {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .portfolio {
    width: 320px;
  }
  .portfolio .rem {
    font-size: 12px;
  }
}
